.main-div {
    background-color: #202020;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 300vh;
}


.pic-div {
    /* width: 100vw; */
    display: flex;
    justify-content: center;
}

.socials-div {
    /* width: 100vw; */
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.profile-pic {
    /* margin-right: 3vw; */
    width: 15vw;
    height: 30vh; 
}

.project-pic {
    width: 65vw;
    height: auto;
}

.projects-div, .blogs-div, .welcome-div {
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
    
}

.social-icon {
    width: 5vw;
    height: 10vh;
    margin-left: 1vw;
    
}

.center-text {
    text-align: center;
}

.this {
    color: lime;
    text-decoration: none;
    font-weight: 900;
}
.this:link {
    text-decoration: none;
}
/*   
.this:visited {
    text-decoration: none;
} */
  
.this:hover {
    text-decoration: none;
}
  
/* .this:active {
    text-decoration: none;
} */

.body-div {
    width: 75vw;
    border: 2px solid rgb(167, 2, 182);
    background-color: grey;
    
    
}

.group1 {
    margin-top: 3px;
    border: 3px solid black;
    border-radius: 25px;
    background-color: #696969;
}