.main-div {
    background-color: grey;
}

.project-pic {
    width: 65vw;
    height: auto;
}

.projects-div, .blogs-div, .welcome-div {
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}

.social-icon {
    width: 5vw;
    height: auto;
}